/* nav {
    color: white;
} */
.user-account {
    width: 100%;
}

/* .btn-play {
    background: rgba(255, 255, 0, 0.336);
    border: 1px solid;
    padding: 0.2rem;
} */

 .g {
    width: 100%;
    height: 1px;
    background: #999393;
}